{{ if .Site.Params.education.enable | default false }}
<script>
    function select(window) {
        if (window == "certification") {
            for (var i = 0; i < document.getElementsByClassName("certification").length; i++) {
                document.getElementsByClassName("certification")[i].style.display = "";
            }
            for (var i = 0; i < document.getElementsByClassName("degree").length; i++) {
                document.getElementsByClassName("degree")[i].style.display = "none";
            }
        } else if (window == "degree") {
            for (var i = 0; i < document.getElementsByClassName("certification").length; i++) {
                document.getElementsByClassName("certification")[i].style.display = "none";
            }
            for (var i = 0; i < document.getElementsByClassName("degree").length; i++) {
                document.getElementsByClassName("degree")[i].style.display = "";
            }
        }
        console.log(window);
    }
</script>
<section id="education" class="py-5">
    <div class="container">
        <h3 class="text-center">Education</h3>
        <div class="px-3 px-md-5 px-lg-5">
            <div class="row justify-content-center">
                <div class="h-100 d-flex align-items-center justify-content-center my-3">
                    <div class="btn-group btn-group-justified">
                        <button type="button" class="btn btn-default btn-block" onclick="select('certification')">Certifications</button>
                        <button type="button" class="btn btn-default btn-block" onclick="select('degree')">Institutions</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center py-5">
            {{ $indexMenu := .Site.Params.education.index }}
            {{ range $index, $element := .Site.Params.education.items }}
            <div class="col-12 p-0 {{ .id }}" style="{{ if eq .id "degree" }} display: none; {{ end }}"> 
                <div class="row align-items-center justify-content-center m-1 mb-4">
                    {{ if $indexMenu }}
                    <div class="col-md-1 text-center me-2 p-0 d-none d-md-block">
                        <div class="py-2">
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    {{ end }}

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <small>{{ .date }}</small>
                                </div>
                                <h5 class="card-title">{{ .title }}</h5>
                                
                                {{ if .school.url }}
                                <a href="{{ .school.url }}" target="_blank">
                                    <h6>
                                    {{ .school.name }}
                                    </h6>
                                </a>
                                {{ else }}
                                {{ .school.name }}
                                {{ end }}

                                {{ if .GPA }}
                                <div class="py-1">
                                    GPA:
                                    <i>
                                        <small>{{ .GPA }}</small>
                                    </i> 
                                </div>
                                {{ end }}
                                
                                {{ if .score}}
                                <div class="py-1">
                                    Score:
                                    <i>
                                        <small>{{ .score }}</small>
                                    </i> 
                                </div>
                                {{end}}

                                {{ if .valid}}
                                <div class="py-1">
                                    Valid: 
                                    <i>
                                        {{ .valid}}
                                    </i> 
                                </div>
                                {{end}}

                                <div class="py-1 education-content">
                                    {{ .content | markdownify}}
                                </div>

                                {{ if .featuredLink.enable }}
                                <div class="py-1">
                                    <a href="{{ .featuredLink.url }}" class="btn">
                                        {{ .featuredLink.name | default "Featured" }}
                                    </a>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
