{{ if .Site.Params.experience.enable | default false }}
<script>
    function selectExp(choice) {
        if (choice == "work") {
            reassign(wb, true); reassign(rb, false); reassign(cb, false);
            for (var i = 0; i < document.getElementsByClassName("work").length; i++) {
                document.getElementsByClassName("work")[i].style.display = "";
            }
            for (var i = 0; i < document.getElementsByClassName("course").length; i++) {
                document.getElementsByClassName("course")[i].style.display = "none";
            }
            for (var i = 0; i < document.getElementsByClassName("research").length; i++) {
                document.getElementsByClassName("research")[i].style.display = "none";
            }
        } else if (choice == "course") {
            reassign(wb, false); reassign(cb, true); reassign(rb, false);
            document.getElementsByClassName("course")[0].classList.add("pt-4");
            for (var i = 0; i < document.getElementsByClassName("work").length; i++) {
                document.getElementsByClassName("work")[i].style.display = "none";
            }
            for (var i = 0; i < document.getElementsByClassName("course").length; i++) {
                document.getElementsByClassName("course")[i].style.display = "";
            }
            for (var i = 0; i < document.getElementsByClassName("research").length; i++) {
                document.getElementsByClassName("research")[i].style.display = "none";
            }
        } else if (choice == "research") {
            reassign(wb, false); reassign(cb, false); reassign(rb, true);
            document.getElementsByClassName("research")[0].classList.add("pt-4");
            for (var i = 0; i < document.getElementsByClassName("work").length; i++) {
                document.getElementsByClassName("work")[i].style.display = "none";
            }
            for (var i = 0; i < document.getElementsByClassName("course").length; i++) {
                document.getElementsByClassName("course")[i].style.display = "none";
            }
            for (var i = 0; i < document.getElementsByClassName("research").length; i++) {
                document.getElementsByClassName("research")[i].style.display = "";
            }
        }
    }
    function reassign(button, turnedOn) {
        if (turnedOn) {
            button.style.backgroundColor = prim;
            button.style.color = bg;
            console.log(button);
        } else {
            button.style.removeProperty("background-color");
            button.style.removeProperty("color");
        }
    }
</script>
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">Experience</h3>
        <div class="px-3 px-md-5 px-lg-5">
            <div class="row justify-content-center">
                <div class="h-100 d-flex align-items-center justify-content-center my-3">
                    <div class="btn-group btn-group-justified">
                        <button type="button" class="btn btn-default btn-block shadow-none" onclick="selectExp('work')" id="work-button">Work</button>
                        <button type="button" class="btn btn-default btn-block shadow-none" onclick="selectExp('research')" id="research-button">Research</button>
                        <button type="button" class="btn btn-default btn-block shadow-none" onclick="selectExp('course')" id="course-button">Courses</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9 col-lg-9 py-5">
                <div class="experience-container px-4 px-lg-5  pt-2">
                    <div class="tab-content pb-5 pt-2 bg-transparent " id="pills-tabContent">
                        {{ $len := .Site.Params.experience.length}}
                        {{ range $index, $element := .Site.Params.experience.items }}
                        <div 
                            class="tab-pane fade show active bg-transparent {{ .id }}" 
                            role="tabpanel"
                            id='pills-{{ replace .exptitle " " "-" }}-{{ replace .date " " "-" }}'
                            aria-labelledby='pills-{{ replace .exptitle " " "-" }}-{{ replace .date " " "-" }}-tab'
                            style="{{if eq $index 0}} padding-top: 20px; {{end}} padding-bottom: 30px; {{ if or (eq .id "course") (eq .id "research")}} display: none; {{ end }}"
                        >
                            <div>
                                <span class="h4">{{ .exptitle }}</span>
                                {{ if .employer }}
                                <div class="pb-1">
                                    {{ .employer }}
                                </div>
                                {{ end }}
                                <div class="pb-1">
                                    <small>{{ .date }}</small>
                                </div>

                                {{ if .featuredLink.enable | default false }}
                                <div class="py-2 featuredLink">
                                    <a class="p-2 px-4 btn btn-outline-primary btn-sm" href={{ .featuredLink.url | default "#" }} target="_blank">
                                        {{ .featuredLink.name | default "Featured Link" }} 
                                    </a>
                                </div>
                                {{ end }}
                            </div>

                            {{ .content | markdownify}}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}